.section{
    width: 65%;
    margin: auto;
    margin-bottom: 15%;
}

.select{
    padding: 1.5%;
    margin-top: 9px;
}

.heading{
    display: flex;
    justify-content: center;
    color: red;
}
.error_heading{
    display: flex;
    justify-content: center;
}