.header{
    color: rgb(204, 66, 66);
    background-color: black;
}

.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

.header ul li{
    font-weight: bold;
}

.logout_button{
    margin-top: 16%;
    height: 30px;
    border: 1px solid #f7f7f7;
    color: white;
    background-color: black;
    border-radius: 14px;
}

.expense{
    margin-top: 1%;
}

.expense_link{
    color: red;
}
